/*
th.mobile-only {
  display: table-row;
}

.wide-table-cell > td {
  display: table-row;
}
*/

.mobile-only {
  display: table-row;
}

.wide-table-cell td {
  display: table-row;
}

.wide-table-row {
  display: table;
  width: 100%;
  /*border-collapse: separate;*/
  margin-bottom: 15px;
  border: 1px solid black;
}

.table>tbody+tbody {
  border-top: 1px solid black;
}
/* Mobile view space between pseduo-tables */
tr.spacer, tr.spacer > td {
  column-span: all;
  border-width: 1px solid #fff;
}

/* Adaptor rules for bootstrap */
.table-bordered > tbody > tr.wide-table-cell > td, .table-bordered > tbody > tr.wide-table-cell > th {
  border-width: 0em;
}

.table-bordered > tbody > tr.wide-table-cell {
  /*border: 1px solid #ddd;*/
}

/* Beginning of Responsive Accessible Table CSS logic */
.wide-table-header-row {
  display: none;
}

.table-bordered {
    border: none;
  }

@media screen and (min-width: 40em) {

  table .wide-table-header-row {
    display: table-row;
  }

  table .wide-table-row {
    display: table-row;
  }

  th.mobile-only {
    display: none;
  }

  .wide-table-cell {
    display: table-cell;
  }

  .wide-table-cell > td {
    display: inline;
  }
}
