body {
  font-family: arial;
}

table {
  border: 1px solid #ccc;
  width: 100%;
  margin:0;
  padding:0;
  border-collapse: collapse;
  border-spacing: 0;
}

table tr {
  border: 1px solid #ddd;
  padding: 5px;
}

table th, table td {
  padding: 10px;
  text-align: center;
}

table th {
  font-size: 14px;
}

table {
  border: 1px solid #ccc;
  width: 100%;
  margin:0;
  padding:0;
  border-collapse: collapse;
  border-spacing: 0;
}

/* Beginning of Responsive Accessible Table CSS logic */
.wide-table-header-row {
  display: none;
}

@media screen and (min-width: 40em) {

  table .wide-table-header-row {
    display: table-row;
  }

  table .wide-table-row {
    display: table-row;
  }

  .mobile-only {
    display: none;
  }

  .wide-table-cell {
    display: table-cell;
  }

  .wide-table-cell > td {
    display: inline;
  }
}
